@import "../../../../node_modules/normalize.css/normalize.css";
@import "../../global/ThemeColor.less";

body, html, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 0;
    margin: 0;
    background-color: @backColor;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif !important;
    user-select: none;
}