@font-face {
    font-family: "iconfont";
    src: url('iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconcloseall:before {
    content: "\e886";
}

.icon-reddot:before {
    content: "\e650";
}

.icon-contentsaveall:before {
    content: "\e78a";
}

.icon-arror-right:before {
    content: "\e60f";
}

.icon-home:before {
    content: "\e618";
}

.icon-notify:before {
    content: "\e607";
}

.icon-arrowdroprightdown:before {
    content: "\e61e";
}

.icon-page1:before {
    content: "\e6e7";
}

.icon-user:before {
    content: "\e629";
}

.icon-password:before {
    content: "\e61b";
}

.icon-close2:before {
    content: "\e610";
}

.icon-ic_networkservices:before {
    content: "\e638";
}

.icon-fresh:before {
    content: "\e670";
}

.icon-connect:before {
    content: "\e675";
}

.icon-save:before {
    content: "\e611";
}

.icon-upload:before {
    content: "\e613";
}

.icon-edit:before {
    content: "\e723";
}

.icon-arrow_right:before {
    content: "\e806";
}

.icon-file2:before {
    content: "\e69a";
}

.icon-splitscreen:before {
    content: "\e615";
}

.icon-arrow-top:before {
    content: "\e619";
}

.icon-search:before {
    content: "\e602";
}

.icon-warnning:before {
    content: "\e603";
}

.icon-guidang:before {
    content: "\e62c";
}

.icon-error:before {
    content: "\e609";
}

.icon-collapse-table:before {
    content: "\e9f2";
}

.icon-folder:before {
    content: "\e61f";
}

.icon-spinner1:before {
    content: "\e7f8";
}

.icon-file-add-fill:before {
    content: "\e7e4";
}

.icon-setting1:before {
    content: "\e62d";
}

.icon-arrow-right:before {
    content: "\e612";
}

.icon-arrow-right1:before {
    content: "\e94a";
}

.icon-bxs-terminal:before {
    content: "\ec98";
}

.icon-xingzhuang:before {
    content: "\e601";
}