@import "../../ThemeColor.less";

:local .Container {
    border-radius: 5px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

:local .border {
    border: 1px solid @borderColor;
}

:local .darkBack {
    background-color: @darkBackColor;
    box-shadow: inset 0 0 5px 0 @backColor;
}
