@import "../../../../../../global/ThemeColor.less";
@import "../../../../../../global//Component//Button//LoadingAnimation.less";

:local(.title) {
    flex-grow: 0;
    flex-shrink: 0;
    height: 35px;
    min-width: 35px;
    background-color: @lightBackColor;
    color: @darkFontColor;
    font-style: italic;
    margin-right: 1px;
    display: flex;
    overflow: hidden;

    &:hover {
        :local(.titleCloseButton) {
            visibility: visible;
        }
    }
}

:local(.titleFocus) {
    background-color: @backColor;
    color: @fontColor;

    :local(.titleCloseButton) {
        visibility: visible;
    }
}

:local(.titleFixed) {
    font-style: normal;
}

:local(.titleCloseButton) {
    font-style: normal;
    flex-grow: 0;
    flex-shrink: 0;
    width: 19px;
    height: 19px;
    line-height: 19px;
    margin: 8px;
    color: @fontColor;
    visibility: hidden;
    text-align: center;
    font-size: 1.4em;
    cursor: pointer;
}

:local(.titleIcon) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 19px;
    height: 19px;
    padding: 8px 8px 8px 13px;
}

:local(.titleLoading) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 19px;
    height: 19px;
    padding: 8px 8px 8px 13px;
    position: relative;
    top: -3px;
    .LoadingAnimation(0.9em, 0.12em, @fontColor, fade(lighten(@darkFontColor, 10%, relative), 600%));
}

:local(.titleText) {
    flex-grow: 0;
    flex-shrink: 1;
    text-overflow: ellipsis;
    height: 35px;
    line-height: 35px;
    font-size: .95em;
}

:local(.functionButtons) {
    flex-grow: 0;
    flex-shrink: 0;
    height: 35px;
    overflow: hidden;

    > img {
        width: 19px;
        height: 19px;
        padding: 8px;
    }
}

:local(.content) {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
}
