@import "../../ThemeColor.less";
@height: 25px;

:local(.titleBar) {
    background-color: @backColor;
    height: @height;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
}

:local(.icon) {
    flex-grow: 0;
    flex-shrink: 0;
    width: @height;
    height: @height;
    line-height: @height;
    text-align: center;
    color: lighten(@darkFontColor, 10%, relative);

    &.icon-arrow_right {
        font-size: .9em;
        position: relative;
        left: 2px;
        top: 1px;
    }

    &.icon-arrowdroprightdown {
        font-size: 1.75em;
        position: relative;
        left: 6px;
        top: -1px;
    }
}

:local(.title) {
    flex-grow: 0;
    flex-shrink: 0;
    height: @height;
    font-weight: 700;
    font-size: .9em;
    margin: 0 2px;
    line-height: @height + 3px;
    color: lighten(@darkFontColor, 10%, relative);
}

:local(.titleBox) {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    height: @height;
    position: relative;
}

:local(.content) {
    position: relative;
    background-color: @darkBackColor;
}
