@import "../../global/ThemeColor.less";
@import "../../global/Component/Button/LoadingAnimation.less";

#LoginPage {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

// 程序logo
:local(.logo) {
    display: block;
    width: 50vw;
    margin: 20vh auto 0;
}

//登陆窗口
:local(.loginForm) {
    width: 250px;
    height: 100px;
    margin: 20vh auto 0;
    padding: 0 !important;

    > div {
        position: relative;
        height: 50px;
        line-height: 30px;

        &:first-child {
            border-bottom: 1px solid lighten(@darkBackColor, 15%, relative);
        }

        > i {
            position: absolute;
            color: lighten(@backColor, 25%, relative);
            font-size: 25px;
            top: 10px;
            left: 17px;
        }

        > input {
            display: inline-block;
            background-color: transparent;
            height: 50px;
            line-height: 50px;
            width: ~"calc(100% - 50px)";
            margin-left: 50px;
            border: none !important;
        }
    }
}

//登陆按钮
:local(.button) {
    display: block;
    margin: 40px auto 0;
    width: 180px;
    height: 37px;
    line-height: 19px;
}

//正在登陆
:local(.logging) {
    height: 30px;
    width: 150px;
    margin: 30vh auto 0;

    > i {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
        .LoadingAnimation();
    }

    > span {
        font-size: 1.1em;
        color: @fontColor;
        position: relative;
        top: -6px;
        left: 20px;
    }
}
