@import "../../ThemeColor.less";

:local(.ScrollBar) {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: darken(@darkFontColor, 60%, relative);
        border-radius: 2px;
    }
}
