@import "../../ThemeColor.less";
@import "./LoadingAnimation.less";

:local(.button) {
    position: relative;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: @lightBackColor;
    text-align: center;
    color: @darkFontColor;
    cursor: pointer;

    &:hover {
        background-color: darken(@lightBackColor, 10%, relative);
    }

    &:active {
        background-color: darken(@lightBackColor, 25%, relative);
    }

    &:disabled {
        background-color: darken(@lightBackColor, 18%, relative) !important;
    }

    &.loading {
        color: transparent;
        .LoadingAnimation(0.9em, .12em);

        &::after,
        &::before {
            top: ~"calc(50% - 1px)";
        }
    }
}
