@import "./Spinner.css";

/* 加载动画 */
.LoadingAnimation(@size:1.28571429em, @thick:.2em, @color:white, @backColor:rgba(0,0,0,.15)) {
    
    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin: -@size / 2 0 0 -@size / 2;
        width: @size;
        height: @size;
        border-radius: 500rem;
        border: @thick solid @backColor;
    }

    &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin: -@size / 2 0 0 -@size / 2;
        width: @size;
        height: @size;
        animation: spinner .6s linear;
        animation-iteration-count: infinite;
        border-radius: 500rem;
        border-color: @color transparent transparent;
        border-style: solid;
        border-width: @thick;
        box-shadow: 0 0 0 1px transparent;
    }
}
