@import "../../../../ThemeColor.less";

:local(.UploadFile) {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    background-color: @borderColor;
}

:local(.icon) {
    width: 20px;
    height: 30px;
    padding: 0 10px;
    background-color: @lightBackColor;
}

:local(.filename) {
    height: 30px;
    line-height: 30px;
    width: ~"calc(100% - 115px)";
    background-color: @lightBackColor;
    color: @fontColor;
    padding-right: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:local(.selectFile) {
    width: 75px;
    height: 30px;
    line-height: 32px;
    font-size: .9em;
    text-align: center;
    background-color: @lightBackColor;
    color: @darkFontColor;

    &:hover {
        background-color: darken(@lightBackColor, 20%, relative);
        color: lighten(@darkFontColor, 10%, relative);
    }

    &:active {
        background-color: darken(@lightBackColor, 30%, relative);
    }
}
