@import "../../../../../../global/ThemeColor.less";

#FileManager {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

:local(.header) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: .8em;
    padding-left: 24px;
    box-sizing: border-box;
    background-color: @darkBackColor;
    color: @darkFontColor;
}

:local(.top) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

:local(.bottom) {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    //三个窗口的标题栏
    min-height: 25px * 3;
    overflow: hidden;
}