@import "../../../../global/ThemeColor.less";

#ContentWindow {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
}

:local(.left) {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 10%;
}

:local(.right) {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 10%;
    border-left: @lightBackColor solid 1px;
    box-sizing: border-box;
}

:local(.splitter) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 0;
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 6px;
        position: absolute;
        top: 0;
        left: -3px;
        cursor: w-resize;
        z-index: 20;
    }
}
