@import "../../../../global/ThemeColor.less";

:local(.WindowContainer) {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:local(.titleBar) {
    height: 35px;
    width: 100%;
    display: flex;
    background-color: @darkBackColor;
}

:local(.tabs) {
    flex-grow: 1;
    flex-shrink: 1;
    height: 35px;
    display: flex;
    overflow: hidden;
}
