@import "../../global/ThemeColor.less";

:local(.popupWindowItemWrapper) {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    transition: background-color .3s ease;

    &.moveIn {
        background-color: rgba(0, 0, 0, 0.3);

        :local(.PopupWindowItem) {
            transform: translateY(0);
        }
    }

    &.moveOut {
        background-color: transparent;

        :local(.PopupWindowItem) {
            transform: translateY(-100%);
        }
    }
}

:local(.PopupWindowItem) {
    display: table;
    min-width: 300px;
    margin: 0 auto;
    border: 1px solid @borderColor;
    background-color: @backColor;
    transform: translateY(-100%);
    transition: transform .3s ease;
}

:local(.title) {
    background-color: @darkBackColor;
    font-size: .9em;
    height: 35px;
    line-height: 37px;
    color: @darkFontColor;
    text-align: center;
}

:local(.content) {
    overflow: hidden;
    padding: 15px;
    color: @fontColor;
}

:local(.bottom) {
    .clearFloat();
}

:local(.button) {
    height: 30px;
    line-height: 10px;
    font-size: .9em;
    margin: 0 15px 10px -10px;
    float: right;
    background-color: transparent !important;
    border-radius: 3px;

    &:hover {
        background-color: transparent !important;
        color: @fontColor !important;
    }

    &:active {
        background-color: darken(@backColor, 40%, relative) !important;
    }
}
