@import "../../ThemeColor.less";

:local(.checkBox) {
    display: flex;
    align-items: center;
    color: @darkFontColor;
    height: 25px;
    font-size: .9em;

    &.disabled {
        .CheckBox_box,
        .CheckBox_text {
            cursor: unset;
        }
    }

    &.checked {
        .CheckBox_box {
            &::before {
                content: '✔';
                position: absolute;
                left: 4px;
                top: 1px;
                font-size: 13px;
            }
        }
    }
}

.CheckBox_box {
    background-color: darken(@lightBackColor, 35%, relative);
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: solid 1px @lightBackColor;
    cursor: pointer;
    position: relative;
}

.CheckBox_text {
    padding-right: 1em;
    cursor: pointer;
}
