/* 全局的主题颜色 */

//背景色
@backColor: lighten(black, 20%);
//字体颜色
@fontColor: darken(white, 10%);

//浅色色背景
@lightBackColor: lighten(@backColor, 30%);

//深色背景
@darkBackColor: darken(@backColor, 10%);
//深色字体
@darkFontColor: darken(@fontColor, 30%);

//边框颜色
@borderColor: lighten(@backColor, 20%);