@import "../../../../../../../../global/ThemeColor.less";

:local(.titleBar) {
    flex-grow: 0;
    flex-shrink: 0;
}

:local(.contentBox) {
    flex-grow: 1;
    flex-shrink: 1;
}

:local(.titleButtons) {
    width: 100%;
    height: 25px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    color: @darkFontColor;

    & > img {
        height: 16px;
        width: 16px;
        padding: 5px 6px;

        &:last-child {
            padding-right: 12px;
        }

        &:active {
            transform: scale(1.2);
        }
    }
}
