@import "../../global/ThemeColor.less";

#MessageBox {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    z-index: 999;
    right: 0;
    bottom: 0;
    padding: 20px 15px; 
    width: 20vw;
    min-width: 300px;
    overflow: hidden;
}

:local(.messageItem) {
    flex-shrink: 0;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-150%) scaleY(0);
    transition: opacity, transform;
    display: none;

    //只显示最新的5条
    &:nth-child(-n+5) {
        display: block;
    }

    &.moveIn {
        opacity: 1;
        transform: translateX(0) scaleY(1);
        transition-timing-function: cubic-bezier(0, 0, 0, 1);
        transition-duration: .6s;
    }

    &.moveOut {
        opacity: 0;
        transform: translateX(150%) scaleY(0);
        transition-timing-function: cubic-bezier(0, 0, 1, 0);
        transition-duration: .4s;
    }
}
